// Colors
$primaryBlue: #743CF6;
$secondaryBlue: #A487E9;
$primaryGradient: linear-gradient(to bottom, #3C24D0, #A43FDD );
$secondaryGradient: linear-gradient(to bottom, rgba(197, 106, 249, 0.5), #FBE2FC );

// Type colors
$darkGrey: #373434;
$lightGrey: #595858;
$light: #E5E4F9;
