// Colors
$primaryBlue: #743cf6;
$secondaryBlue: #a487e9;
$primaryGradient: linear-gradient(to bottom, #3c24d0, #a43fdd);
$formGradient: linear-gradient(to right top, #3c24d0, #a43fdd);
$secondaryGradient: linear-gradient(
  to bottom,
  rgba(197, 106, 249, 0.5),
  #fbe2fc
);

// Type colors
$darkGrey: #373434;
$lightGrey: #595858;
$light: #e5e4f9;
