* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: none;
          box-sizing: none;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold 700;
}

h1 {
  font-size: 60px;
}

.wrapper {
  padding: 8px 24px;
}

@media (min-width: 650px) {
  .wrapper {
    padding: 0 16px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    padding: 0 60px;
  }
}

.primary-btn {
  padding: 20px 24px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #743CF6;
  -webkit-box-shadow: 0px 5px 9px 3px #743CF6;
          box-shadow: 0px 5px 9px 3px #743CF6;
  margin: 16px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.primary-btn:hover {
  opacity: 0.7;
}

.secondary-btn {
  padding: 20px 24px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #A487E9;
  -webkit-box-shadow: 0px 5px 9px 3px #A487E9;
          box-shadow: 0px 5px 9px 3px #A487E9;
  margin: 16px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.secondary-btn:hover {
  opacity: 0.7;
}

.header {
  position: relative;
}

.header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 4px 0;
}

@media (min-width: 650px) {
  .header__nav-bar {
    height: auto;
    padding: 24px 0;
    z-index: 5;
    background-color: transparent;
  }
}

.header__nav-bar--logo {
  font-size: 48px;
}

.header__nav-bar .mobile-btn {
  position: relative;
  display: block;
  width: 35px;
  height: 40px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

@media (min-width: 650px) {
  .header__nav-bar .mobile-btn {
    display: none;
  }
}

.header__nav-bar .mobile-btn .bar,
.header__nav-bar .mobile-btn::after,
.header__nav-bar .mobile-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__nav-bar .mobile-btn.active .bar {
  opacity: 0;
}

.header__nav-bar .mobile-btn.active::before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.header__nav-bar .mobile-btn.active::after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.header__mobile-menu {
  z-index: 90;
  position: fixed;
  left: 120%;
  top: 10%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  display: block;
  color: white;
  width: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3C24D0), to(#A43FDD));
  background: linear-gradient(to bottom, #3C24D0, #A43FDD);
  height: 79vh;
  padding: 30px 0 30px 30px;
  border-radius: 20px 0 0 20px;
}

.header__mobile-menu.active {
  left: 50%;
}

.header__mobile-menu .header__mobile-menu--content {
  width: 70%;
}

.header__mobile-menu .header__mobile-menu--content .header__mobile-menu--content-title {
  margin-bottom: 48px;
}

.header__mobile-menu .header__mobile-menu--nav-links {
  list-style: none;
  position: relative;
}

.header__mobile-menu .header__mobile-menu--nav-links li:not(:last-child) {
  padding-bottom: 24px;
}

.header__mobile-menu .header__mobile-menu--nav-links a {
  text-decoration: none;
  color: white;
}

.header__mobile-menu .header__mobile-menu--logout {
  position: absolute;
  bottom: 5%;
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.header .overlay {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.header .overlay.active {
  display: block;
  position: absolute;
  opacity: 1;
  top: 9.5%;
  left: 0;
  background: rgba(129, 35, 184, 0.26);
  width: 100%;
  height: 90%;
}

.header__desktop {
  display: none;
}

@media (min-width: 650px) {
  .header__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 24px;
  }
  .header__desktop-content {
    padding: 24px 16px;
  }
}

.header__desktop a {
  text-decoration: none;
  color: black;
}

.header__desktop a:not(:last-child) {
  padding-right: 10px;
}

@media (min-width: 1000px) {
  .header__desktop a:not(:last-child) {
    padding-right: 20px;
  }
}

.hero {
  margin: 8px 0;
}

@media (min-width: 650px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.hero__content-image {
  padding: 48px 0;
  position: relative;
  background-image: url(/images/hero-blob.svg);
  background-position: center center;
  background-size: 105%;
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
}

@media (min-width: 650px) {
  .hero__content-image {
    padding: 100px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    z-index: 80;
  }
}

.hero__content-image::before {
  content: "";
  z-index: 5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -15%;
  background-image: url(/images/computer-kid.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 650px) {
  .hero__content-image::before {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.hero__content-text {
  padding: 40px 60px;
  text-align: left;
}

@media (min-width: 650px) {
  .hero__content-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .hero__content-text .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero__content-text h1 {
  font-size: 48px;
  padding-bottom: 8px;
  text-transform: capitalize;
}

.hero__content-text p {
  padding-bottom: 24px;
}

.products {
  text-align: center;
  background-image: url(/images/vibin-kid.svg);
  background-position: left 12% top 28%;
  background-size: 210%;
  background-repeat: no-repeat;
  padding: 60px 0;
}

@media (min-width: 1000px) {
  .products {
    background-position: right -40% top 2%;
    background-size: 79%;
  }
}

@media (min-width: 650px) {
  .products h2 {
    font-size: 40px;
    text-align: left;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

@media (min-width: 650px) {
  .products__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .products__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.products__list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  margin: 40px 0;
  background-color: white;
  border-radius: 40px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

@media (min-width: 650px) {
  .products__list-card {
    margin: 40px 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 36px;
  }
}

@media (min-width: 1000px) {
  .products__list-card {
    margin: 40px 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 36px;
  }
}

.products__list-card--text {
  margin: 16px 0;
}

@media (min-width: 650px) {
  .products__list-card--text {
    padding: 0 24px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 1000px) {
  .products__list-card--text {
    text-align: center;
  }
}

.products__list-card h3 {
  color: #743CF6;
  margin: 8px 0;
}

@media (min-width: 650px) {
  .products__list-card h3 {
    font-size: 24px;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .products__list-card h3 {
    text-align: center;
  }
}

.products__list-card img {
  width: 75%;
}

@media (min-width: 650px) {
  .products__list-card img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 650px) {
  .products__list-card p {
    font-size: 20px;
    color: #595858;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .products__list-card p {
    text-align: center;
  }
}

.products__list-card button {
  margin: 40px 0;
}

@media (min-width: 650px) {
  .products__list-card button {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
}

.products__list-card:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=style.css.map */